@model MenuViewModel
<a href="#menu" id="menu-link">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <i class="fa fa-times" aria-hidden="true"></i>
</a>
<div id="menu">
    <div class="pure-menu">
        <span class="pure-menu-heading">@Model.SiteName</span>

        <ul class="pure-menu-list">
            @foreach (var item in Model.MenuItems)
            {
                var selected = Model.Content.Path.Split(',').Select(int.Parse).Contains(item.Id);
                <li class="pure-menu-item @(selected ? "pure-menu-selected": "")">
                    <a href="@item.Url" class="pure-menu-link">
                        @item.Name
                    </a>
                </li>
            }
            <li class="pure-menu-divider"></li>
            <li class="pure-menu-item social-links">
                @if (!string.IsNullOrWhiteSpace(Model.ContactEmail))
                {
                    <a href="mailto:@Model.ContactEmail" class="pure-menu-link social-link">
                        <i class="fa fa-envelope-square" aria-hidden="true"></i>
                    </a>
                }
                @if (!string.IsNullOrWhiteSpace(Model.LinkedInUrl))
                {
                    <a href="@Model.LinkedInUrl" target="_blank" class="pure-menu-link social-link">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                }
                @if (!string.IsNullOrWhiteSpace(Model.TwitterUrl))
                {
                    <a href="@Model.TwitterUrl" target="_blank" class="pure-menu-link social-link">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                }
            </li>
        </ul>
    </div>
</div>