@inherits UmbracoViewPage<IMaster>
@{
    Html.RequiresCss("~/vendor/pure/base.css");
    Html.RequiresCss("~/vendor/pure/menus.css");
    Html.RequiresCss("~/vendor/highlight.js/foundation.css");
    Html.RequiresCss("~/css/base.css");
    Html.RequiresCss("~/css/layout/main.css");
    Html.RequiresCss("~/css/layout/menu.css");
    Html.RequiresCss("~/css/components/header.css");
    Html.RequiresCss("~/css/components/post.css");

    Html.RequiresJs("~/vendor/highlight.js/highlight.pack.js");
    Html.RequiresJs("~/scripts/highlighting.js");
    Html.RequiresJs("~/scripts/menu.js");
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Model.SeoMetadata.Title</title>
    <meta name="description" content="@Model.SeoMetadata.Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    @Html.RenderCssHere()
</head>
<body>
    @Html.Action("Menu", "Menu")
    <div id="main">
        @RenderBody()
    </div>
    @Html.RenderJsHere()
</body>
</html>
